.page {
    max-width: 1024px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    background-color: yellow;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    margin: 0;
    padding: 60px 0 40px;
    font-size: 3em;
}

.grid {
    width: 500px;
    height: 500px;
    border: .5px solid black;
    display: grid;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.8);
}

.cell {
    background-color: whitesmoke;
    border: 1px solid black;
    cursor: pointer;
}

.cell_active {
    background-color: black;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 25px;
    font-family: inherit;
    font-size: 18px;
}

.button {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.nav-buttons {
    background-color: yellow;
}

.main {
    display: flex;
}

.sidebar {
    margin-top: -100px;
    margin-left: 20px;
    display: flex;
    gap: 10px;
}

.button_eraser {
    cursor: grab;
}

.footer {
    margin-top: 120px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .grid{
        width: 300px;
        height: 300px;
    }
    .form {
        flex-direction: column;
    }
    .title {
        font-size: 2em;
    }
    .sidebar {
        margin-top: -220px;
        margin-left: 10;
        flex-direction: column;
    }
    .button {
        font-size: 14px;
    }
    .footer {
        margin-top: 180px;
    }
}

@media screen and (max-width: 400px) {
    .grid{
        width: 280px;
        height: 280px;
    }
    .footer {
        margin-top: 200px;
    }
}